@charset "UTF-8";
#main_header{
    height: 50px;
    margin: 0 auto;
    background-color: rgb(156, 43, 58);
    top: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#main_header #header_bar{
    height: 50px;
    min-width: 1200px;
    margin: auto;
    width: 1200px;
}
#main_header #header_bar > div{
    overflow: hidden;
    display: inline-block;
    margin: auto 20px;
}
#main_header #header_bar #bar_img{
    float: left;
}
#main_header #header_bar #bar_img img{
    height: 40px;
    padding-top: 5px;
}
#main_header #header_bar #bar_search{
    float: left;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 65px;
    margin-left: 70px;
}
#main_header #header_bar #bar_search #search_box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    display: inline-block;
    position: relative;
    padding: 2px;
}
#main_header #header_bar #bar_search #search_box input{
    width: 90%;
    height: 22px;
    float: left;
    border: none;
}
#main_header #header_bar #bar_search button{
    float: right;
}
#main_header #header_bar #bar_search img{
    height: 13px;
    padding-top: 3px;
}

#main_header #header_bar #bar_icon{
    width: 150px;
    height: 50px;
    float: right;
}
#main_header #header_bar #bar_icon div{
    height: 50px;
    float: left;
    margin: auto 10px;
}
#main_header #header_bar #bar_icon #icon_content img{
    margin-top: 8px;
    width: 35px;
}
#main_header #header_bar #bar_icon #icon_content:hover #content_box{
display: block;
}
#main_header #header_bar #bar_icon #content_box{
    position:absolute;
    background-color: rgb(235, 233, 233);
    z-index: 2;
    height: 136px;
    display: none;
}
#content_box li{
    width: 100px;
    height: 20px;
    padding: 7px;
}
#content_box li:hover{
    background-color: rgb(218, 216, 216);
}