@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: black;
}
body{
	background-color: rgb(240, 240, 240);
}
#header{
	margin-top:30px;
	height: 50px;
	text-align: center;
}
#header img{
	height: 40px;
}
#main{
	text-align: center;
}
#main input#button{
	border: none;
	background-color: white;
	border-radius: 5px;
	padding: 5px 10px;
}
#main input#button:hover{
	background-color: rgb(235, 235, 237);	
}
